<!-- <header class="text-center m-5"><h1>Home Page</h1></header> -->

<!-- <div class="container">
  <section class="buttuns">
    <div class="text-center m-3">
      <button class="btn btn-primary">Invoide Details</button>
    </div>
    <div class="text-center m-3">
      <button class="btn btn-primary">Invoide List</button>
    </div>
  </section>
</div> -->

<div class="container">
  <header class="m-3"><h2 class="text-center">Invoice details page</h2></header>
  <section>
    <form action="">
      <div class="text-center my-3">
        <label>product name</label>
        <input type="text" />
      </div>
      <div class="text-center my-3">
        <label>Unite No</label>
        <select name="Unite" id="unite-list" ></select>
      </div>
      <div class="text-center my-3">
        <label>Price</label>
        <input type="number" />
      </div>
      <div class="text-center my-3">
        <label>product name</label>
        <input type="text" />
      </div>
      <div class="text-center my-3">
        <label>product name</label>
        <input type="text" />
      </div>
    </form>
  </section>
</div>
